:root {
    --vermelho: #E50914;
    --preta: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Base*/

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 2px;
    width: 110px;
}

header nav a {
    text-decoration: none;
    color: #333333;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}


/*filme*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.logo {
    width: 50%;
    height: auto;
}

.titulo {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
    padding-left: 50px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}